body{
    background-image: url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    margin: 3rem 2rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
}
.container{
    background-color: rgba(23, 23, 23, 0.747);
    padding: 3rem;
    border-radius: 10px;
    text-align: center;
    border: 10px dashed rgb(255, 255, 255);
}
.app-title{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
svg {
width: 64px;
height: 64px;
}
.todo-list {
list-style: none;
margin-bottom: 20px;
}

.todo-item {
margin-bottom: 10px;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}

.todo-item span {
flex-grow: 1;
margin-left: 10px;
margin-right: 10px;
font-size: 22px;
}

.done span {
text-decoration: line-through;
}

input[type="checkbox"] {
display: none;
}

.tick {
width: 30px;
height: 30px;
border: 3px solid #333;
border-radius: 50%;
display: inline-flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.tick::before {
content: '✓';
font-size: 20px;
display: none;
}

.done .tick::before {
display: inline;
}

.delete-todo {
border: none;
background-color: transparent;
outline: none;
cursor: pointer;
}

.delete-todo svg {
width: 30px;
height: 30px;
pointer-events: none;
}

form {
width: 100%;
display: flex;
justify-content: space-between;
}

input[type="text"] {
width: 100%;
padding: 10px;
color: rgb(0, 0, 0);
border-radius: 10px;
border: 3px solid #ffffff;
}
.empty-state {
flex-direction: column;
align-items: center;
justify-content: center;
display: none;
}

.todo-list:empty {
display: none;
}

.todo-list:empty + .empty-state {
display: flex;
}